.download-section {
    text-align: center;
    background-color: var(--accent-dark-blue);
    color: var(--white);
    padding-top: 6.875rem;
    padding-bottom: 6.875rem;
}

.download-section .heading {
    margin-bottom: 3.125rem;
}

.download-section .section-title {
    font: 700 2.5rem/3.5625rem "Montserrat", sans-serif;
    margin-bottom: 1.25rem;
}

.download-section .section-description {
    font: 500 1.5rem/2.375rem "Montserrat", sans-serif;
    color: var(--average-light-grey);
}

.download-section .cta-link {
    text-align: center;
    display: inline-block;
    max-width: 300px;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 0 0.5rem 0.5rem;
    font: 700 1rem/1.75rem "Montserrat", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease 0s;
}

.download-section .buynow,
.download-section .playstore {
    background-color: var(--accent-orange);
    border: 1px solid var(--accent-orange);
}

.download-section .buynow:hover,
.download-section .buynow:focus,
.download-section .playstore:hover,
.download-section .playstore:focus {
    background-color: var(--white);
    color: var(--accent-orange);
    border: 1px solid var(--accent-orange);
}

.download-section .tryfree,
.download-section .appstore {
    border: 1px solid var(--white);
}

.download-section .tryfree:hover,
.download-section .tryfree:focus,
.download-section .appstore:hover,
.download-section .appstore:focus {
    background-color: var(--white);
    color: var(--accent-orange);
    border: 1px solid var(--accent-orange);
}

@media screen and (min-width: 768px) {
    .download-section {
        background: url("../../img/bg-download.jpg") top center no-repeat;
        padding-top: 8.125rem;
        padding-bottom: 8.125rem;
    }

    .download-section .section-description {
        color: var(--white);
    }
}